<section class="myAssignment">
  <div class="menu-left">
    <span><i class="fab fa-apple font-20 col-fff"></i></span>
    <span class="font-20 col-fff">Talent Point</span>
  </div>
  <nav class="menu-items col-fff font-16">

    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul>
        <li [routerLink]="['/']" (mouseenter)="showNavbar($event)" (mouseleave)="removeNavbar($event)">
          Talent

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Item</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Item</a>
              </li>
            </ul>
          </div>

        </li>

        <li [routerLink]="['/Connections']" (mouseenter)="showNavbar($event)" (mouseleave)="removeNavbar($event)">

          Connections




          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Item 1</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Item 2</a>
              </li>
            </ul>
          </div>
        </li>


        <li [routerLink]="['/Intelligence']" (mouseenter)="showNavbar($event)" (mouseleave)="removeNavbar($event)">

          Intelligence




          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Item 1</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Item 2</a>
              </li>
            </ul>
          </div>
        </li>
        <li [routerLink]="['/WorkPlace']" (mouseenter)="showNavbar($event)" (mouseleave)="removeNavbar($event)">

          WorkSpace



          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Item 1</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Item 2</a>
              </li>
            </ul>
          </div>
        </li>
        <li [routerLink]="['/Insights']" (mouseenter)="showNavbar($event)" (mouseleave)="removeNavbar($event)">

          Insights




          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Item 1</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Item 2</a>
              </li>
            </ul>
          </div>
        </li>

        <li>


          <span><i class="fas fa-search col-fff"></i></span>

          <span class="col-7c">QuickFind</span>



        </li>
      </ul>
    </div>

  </nav>
  <div class="menu-right">
    <span><i class="far fa-bell font-25 col-fff"></i></span>
    <span class="font-14 col-7c">UserName</span>
  </div>
</section>
