/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 auto;
    width:100%;
    min-width: 320px;
    padding: 0;
    font-family: "Myriad Set Pro","Helvetica";
}


.myAssignment{
    display: inline-block;
    width: 100%;
    min-width: 1024px;
    background-color: #0a0a0a;
    font-size: 17px;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
}
.globalnav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(0,0,0,0.8);
    font-size: 17px;
}

.nav-content{
    margin: 0 26px;
}

.menu-list{
    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 44px;
    display: flex;
}
.menu-list .menu-list-item{
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        height: 44px;
        z-index: 1;
        vertical-align: top;
}
.font-20{
    font-size: 20pt;
}
.font-25{
    font-size: 25pt;
}
.font-16{
    font-size: 16pt;
}
.font-14{
    font-size: 14pt;
} 
.col-fff{
    color: #fff;
}
.col-7c{
    color: #7c7c7c;
}
.collapse{
    display: none;
    margin-top: 20px;
}
.show .collapse{
    display: block !important;
}
.menu-left,.menu-right{
    width: 15%;
}
.menu-left{
    margin-left: 26px;
}
.menu-right{
    margin-right: 26px;
}
.menu-left,.menu-items{float: left;}
.menu-right{
    float: right;
    text-align: right;
}
nav.menu-items{
    width: 60%;
    text-align: center;
}
.menu-items ul{
    display: inline-block;
}
.navbar ul li{
    list-style-type: none;
}
.navbar > ul > li{
    float: left;
    margin-right: 4%;
}
.navbar > ul > li:last-child{
    margin-right: 0px;
}
.navbar ul{
    padding-left: 0px;
    margin: 0px;
    width: 100%;
}
